/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
main{
    display: flex;
    justify-content: center;
}
.container{
    background-color: #FFFF;
    width: 870PX;
    padding: 30px;
    margin: 50px;
}
hr{
    border: 1px solid #d1d1d1;
}

/* top players styles */
.top-players{
    margin-bottom: 30px;
}
.section-title{
    color: #562EFF;
    margin-top: 3px;
}

.players{
    display: grid;
    grid-row-gap: 30px;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(3, 1fr);
}
.player{
    display: flex;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}